<div style="height:60rem;">
    <div class="col-sm-3" style="background-color:rgb(158, 63, 0);height:58rem; padding-top:30px;">
        <div style="font-size:25px; color: white; text-align:center;">
            <img src="img/profile.jpg" class="rounded-circle" style="height:200px;"><br>
            Mang Viên Triệu<br>
            Nhóm HCMUS-EC-20A09<br>
            MSSV: 1712837<br>
            Ngày Sinh: 21/08/1999<br>
            Giới Tính: Nam<br>
            Quê Quán: Bình Định<br>
            Sở Thích: Chơi game, xem phim
            Facebook: <a href="http://facebook.com/mangvientrieu">facebook.com/mangvientrieu</a>
        </div>
    </div>
    <div class="col-sm-9" style="height:58rem; padding-left: 100px">
        <div style="color: rgb(158, 63, 0); font-size: 70px">
            <b>HCMUS-EC-20A09</b>
        </div>
        <div style="color: rgb(90, 90, 90); font-size: 20px">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">MSSV</th>
                    <th scope="col">Facebook</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Nguyễn Thị Ngọc Hân</td>
                    <td>1712415</td>
                    <td><a href="https://www.facebook.com/profile.php?id=100021544927399"><img src="/img/han.jpg" style="height: 80px"></a></td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Lê Hận Thương Hoài</td>
                    <td>1712452</td>
                    <td><a href="https://www.facebook.com/belunzt"><img src="/img/hoai.jpg" style="height: 80px"></a></td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Nguyễn Trọng Thắng</td>
                    <td>1712757</td>
                    <td><a href="https://www.facebook.com/profile.php?id=100023899602193"><img src="/img/thang.jpg" style="height: 80px"></a></td>
                    </tr>
                    <tr>
                    <th scope="row">4</th>
                    <td>Trần Thị Diễm Uyên</td>
                    <td>1712895</td>
                    <td><a href="https://www.facebook.com/profile.php?id=100007681662146"><img src="/img/uyen.jpg" style="height: 80px"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>